//- social-auth.pug
.hr-label
  span.hr-label-text or

.d-flex.justify-content-center.gap-1
  button.btn.btn-light(type="button")
    i.fab.fa-google
  button.btn.btn-light(type="button")
    i.fa-brands.fa-facebook
  button.btn.btn-light(type="button")
    i.fa-brands.fa-github
            