nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href="#") MyApp
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav.w-100
        li.nav-item
          a.nav-link.active(aria-current="page", href="/") Home
        li.nav-item
          a.nav-link(href="/about") About
        li.nav-item
          a.nav-link(href="/contact") Contact
        li.nav-item.ms-auto
          a.nav-link(href="/auths/login") Sign in
