//- shared/navbar.pug
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    include brand
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav.w-100
        li.nav-item
          a.nav-link(class=(currentUrl === '/' ? 'active' : ''), href="/") Home
        li.nav-item
          a.nav-link(class=(currentUrl.startsWith('/notes') ? 'active' : ''), href="/notes") Notes
        li.nav-item
          a.nav-link(class=(currentUrl.startsWith('/tags') ? 'active' : ''), href="/tags") Tags
        li.nav-item
          a.nav-link(class=(currentUrl === '/about' ? 'active' : ''), href="/about") About
        if user
          li.nav-item.ms-auto
            span.nav-link Hello, #{user.name}!
          li.nav-item
            a.nav-link(href="/auths/logout") Logout
        else
          li.nav-item.ms-auto
            a.nav-link(href="/auths/login")
              button.btn.btn-dark.btn-sm.px-3 Login 
                i.fa-solid.fa-arrow-right
