//- Note Card Mixin Definition
mixin noteCard(header, title, description, buttonText)
  .card.shadow-sm.mb-4
    if header
      .card-header.bg-primary.text-white= header
    .card-body
      h5.card-title= title
      p.card-text= description
      .d-flex
        a.btn.btn-success.px-3(href="#") Done
        a.btn.btn-primary.px-3(href="#") Important
        a.btn.btn-secondary.px-3(href="#") Cancelled
        if buttonText
          button.btn.btn-light.ms-auto(type="button")= buttonText
