extends ./shared/layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2
        h1.text-center About Us
        p.text-muted.text-center
          | Chào mừng bạn đến với NoteApp, nơi bạn có thể quản lý các ghi chú một cách dễ dàng và hiệu quả.
        hr
        h3 Nhiệm vụ của chúng tôi
        p
          | Chúng tôi tạo ra NoteApp với mục tiêu giúp người dùng tổ chức cuộc sống và công việc một cách dễ dàng hơn thông qua các ghi chú đơn giản, dễ sử dụng và an toàn. Ứng dụng giúp bạn ghi lại mọi ý tưởng, nhiệm vụ hàng ngày và các thông tin quan trọng một cách dễ dàng và nhanh chóng.

        h3 Tại sao chọn chúng tôi?
        ul
          li Dễ sử dụng với giao diện thân thiện
          li Bảo mật cao với mã hóa thông tin
          li Đồng bộ hóa dữ liệu trên nhiều thiết bị
          li Luôn được cập nhật và cải tiến để mang lại trải nghiệm tốt nhất

        h3 Liên hệ
        p
          | Nếu bạn có bất kỳ câu hỏi nào, đừng ngần ngại 
          a(href="/contact") liên hệ với chúng tôi
          | . Chúng tôi luôn sẵn sàng hỗ trợ bạn.
