extends ../shared/layout

block content
  main.container
    h1 Create Note
    if error
      .alert.alert-danger #{error}

    form(action="/notes/create", method="POST")
      include note-form.pug      
      button.btn.btn-primary(type="submit") Create Note
