extends ../shared/layout

block content
  include note-card

  main.container
    h1 Your Notes
    p.text-muted.mb-3 Welcome to your notes dashboard. Here you can create, edit, and delete your notes.
    a(href="/notes/create" class="btn btn-primary btn-sm mb-3") Create Note

    // Form tìm kiếm và lọc
    form(method="GET" action="/notes")
      .d-flex.gap-2.justify-content-start.align-items-end
        // Thanh tìm kiếm
        .form-group.w-25
          label(for="search" class="form-label") Search Notes:
          input.form-control(type="text", name="search", id="search", value=search placeholder="Search by title or content")
        // Thanh lọc theo tag
        .form-group.w-25
          label(for="tag" class="form-label") Filter by Tag:
          select.form-control(name="tag" id="tag")
            option(value="") All Tags
            each tag in tags
              option(value=tag._id selected=(tag._id == selectedTag))= tag.name
        button.btn.btn-dark(type="submit") Apply Filter/Search
        button.btn.btn-light(type="button" onclick="window.location.href='/notes'")
          i.fa-solid.fa-arrows-rotate
    .row
      .col-md-12
        hr
      .col-3
        

    .row
      if notes.length
        each note in notes
          .col-md-4
            +noteCard(note._id, user, note.Tags, note.title, note.content, 'Details')
      else
        p.text-muted No notes found.